<?xml version="1.0" encoding="UTF-8"?>
<ParametriDiConfigurazione>
	<numeroRigheTabella>6</numeroRigheTabella>
</ParametriDiConfigurazione>

<!-- "Parametri di Configurazione" di default

<?xml version="1.0" encoding="UTF-8"?>
<ParametriDiConfigurazione>
  <numeroRigheTabella>5</numeroRigheTabella>
  <periodoTemporaleIniziale>60</periodoTemporaleIniziale>
  <categorieSpesa>
    <string>Animali domestici</string>
    <string>Automobile</string>
    <string>Casa</string>
    <string>Generi alimentari</string>
    <string>Hobbies e tempo libero</string>
    <string>Istruzione</string>
    <string>Salute</string>
    <string>Spese bancarie</string>
    <string>Tasse e imposte</string>
    <string>Trasporto</string>
    <string>Utenze</string>
    <string>Varie</string>
    <string>Vestiario</string>
  </categorieSpesa>
  <numeroCategorieMostrateGrafico>5</numeroCategorieMostrateGrafico>
  <coloriGrafico>
    <javafx.scene.paint.Color>
      <red>1.0</red>
      <green>0.0</green>
      <blue>0.0</blue>
      <opacity>1.0</opacity>
    </javafx.scene.paint.Color>
    <javafx.scene.paint.Color>
      <red>0.0</red>
      <green>1.0</green>
      <blue>0.0</blue>
      <opacity>1.0</opacity>
    </javafx.scene.paint.Color>
    <javafx.scene.paint.Color>
      <red>0.0</red>
      <green>0.0</green>
      <blue>1.0</blue>
      <opacity>1.0</opacity>
    </javafx.scene.paint.Color>
    <javafx.scene.paint.Color>
      <red>1.0</red>
      <green>1.0</green>
      <blue>0.0</blue>
      <opacity>1.0</opacity>
    </javafx.scene.paint.Color>
    <javafx.scene.paint.Color>
      <red>1.0</red>
      <green>0.64705884</green>
      <blue>0.0</blue>
      <opacity>1.0</opacity>
    </javafx.scene.paint.Color>
    <javafx.scene.paint.Color>
      <red>0.5019608</red>
      <green>0.0</green>
      <blue>0.5019608</blue>
      <opacity>1.0</opacity>
    </javafx.scene.paint.Color>
  </coloriGrafico>
  <coloreCaricaDati>
    <red>0.0</red>
    <green>0.0</green>
    <blue>1.0</blue>
    <opacity>1.0</opacity>
  </coloreCaricaDati>
  <coloreInserisci>
    <red>0.0</red>
    <green>0.5019608</green>
    <blue>0.0</blue>
    <opacity>1.0</opacity>
  </coloreInserisci>
  <coloreElimina>
    <red>0.0</red>
    <green>0.0</green>
    <blue>0.0</blue>
    <opacity>1.0</opacity>
  </coloreElimina>
  <coloreAnnulla>
    <red>1.0</red>
    <green>0.0</green>
    <blue>0.0</blue>
    <opacity>1.0</opacity>
  </coloreAnnulla>
  <coloreCambiaPeriodo>
    <red>1.0</red>
    <green>0.64705884</green>
    <blue>0.0</blue>
    <opacity>1.0</opacity>
  </coloreCambiaPeriodo>
  <coloreRigaInserimento>
    <red>1.0</red>
    <green>1.0</green>
    <blue>0.8784314</blue>
    <opacity>1.0</opacity>
  </coloreRigaInserimento>
  <indirizzoIpLog>127.0.0.1</indirizzoIpLog>
  <portaLog>8080</portaLog>
  <indirizzoIpDatabase>127.0.0.1</indirizzoIpDatabase>
  <portaDatabase>3306</portaDatabase>
  <nomeDatabase>gestore_spese</nomeDatabase>
  <usernameDatabase>root</usernameDatabase>
  <passwordDatabase></passwordDatabase>
</ParametriDiConfigurazione> -->